{% extends 'base/base.html' %}

{% block content_body %}

    {% block content_header %}
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Una nueva imagen para tu negocio</h1>
                            <p class="lead text-white-50 mb-4">Goza de los beneficios que tiene un sitio web o un sistema de ventas para tu negocio. ¡Automatiza, administra y promociona, entre muchos otros beneficios!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#webservices">Sitios&nbsp;web</a>
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#appservices">Aplicaciones&nbsp;web</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">¡Contactanos!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    <!--Planes web site-->
    <section class="bg-light py-5 border-bottom" id="webservices">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Planes de sitios y plataformas web</h2>
                <p class="lead mb-0">¡Selecciona conforme a tu necesidad!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Basico</div>
                            <!--div class="mb-3">
                                <span class="display-4 fw-bold">$2,500</span>
                                <span class="text-muted">/ año.</span>
                            </div-->
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>1-6 paginas</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    0.0GB storage
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Dominio
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Hosting
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Diseño personalizado
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Responsive
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contenido multimedia
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Incorporacion de redes sociales
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Formulario de contacto
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Base de datos
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Back Admin
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Contenido autoadministrable
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Chatboot (Whatsapp)
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Infraestructura segura de pagos online
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">¡Cotiza ahora!</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Profesional
                            </div>
                            <!--div class="mb-3">
                                <span class="display-4 fw-bold">$6,500</span>
                                <span class="text-muted">/ año.</span>
                            </div-->
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>1-6 paginas</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    1GB storage
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Dominio
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Hosting
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Diseño personalizado
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Responsive
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contenido multimedia
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Incorporacion de redes sociales
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Formulario de contacto
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Base de datos
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Back Admin
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contenido autoadministrable
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Chatboot (Whatsapp)
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x"></i>
                                    Infraestructura segura de pagos online
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#!">¡Cotiza ahora!</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold"><i class="bi bi-star-fill text-warning"></i>
                                E-commerce
                            </div>
                            <!--div class="mb-3">
                                <span class="display-4 fw-bold">$10,000</span>
                                <span class="text-muted">/ año.</span>
                            </div-->
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Hasta 10 paginas</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    5GB Almacenamiento
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Dominio
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Hosting
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Diseño personalizado
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Responsive
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contenido multimedia
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Incorporacion de redes sociales
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Formulario de contacto
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Base de datos
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Back Admin
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Contenido autoadministrable
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Chatboot (Whatsapp and Messenger)
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Infraestructura segura de pagos online
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">¡Cotiza ahora!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing card app web-->
    <section class="bg-light py-5 border-bottom" id="appservices">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Aplicaciones web</h2>
                <p class="lead mb-0">¡Sistemas de inventario, compras y facturación!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card Sis. inventario-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Sistema de inventario</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$0 MXN</span>
                                <span class="text-muted">/ GRATIS.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Multiusuarios
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Sistema local
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Inventario
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x text-muted"></i>
                                    Punto de venta
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x text-muted"></i>
                                    Facturacion
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Elegir plan</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>
                                Sistema de inventario y compra
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$800 MXN</span>
                                <span class="text-muted">/ mes.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Multiusuarios
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Hosting + Dominio
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Inventario
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Punto de venta
                                </li>
                                <li class="mb-2 text-muted">
                                    <i class="bi bi-x text-muted"></i>
                                    Facturacion
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#!">Elegir plan</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card Sis. Comp. Fac.-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold"><i class="bi bi-star-fill text-warning"></i>
                                Sistema de inventario, compra y facturación
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">$1,200 MXN</span>
                                <span class="text-muted">/ mes.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Multiusuarios
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Hosting + Dominio
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Inventario
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Punto de venta
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Facturación
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Elegir plan</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}